.block {
    background-color: aquamarine;
    position: relative;
    width: 200px;
    height: 200px;

}

.box {
    background-color: red;
    width: 100px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    
}

.text {
    position: absolute;
    bottom: 2px;
    left: 2px;
   
   
}